:root {
    --primary: #8fbc8f;
}

.btn {
    padding: 8px 20px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btn--solid {
    background-color: #8fbc8f;
    color: #242424;
    /* border: 1px solid var(--primary); */
    transition: all 0.3s ease-out;
}

.btn--outline {
    background-color: white;
    color: black;
    padding: 8px 16px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--landingpage {
    background-color: white;
    color: black;
    border: 1px solid var(--primary);
    border-radius: 3px;
}

.btn--small {
    padding: 8px 10px;
    font-size: 15px;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large, 
.btn--big {
    padding: 8px 26px;
    font-size: 26px;
}

.btn--small:hover,
.btn--medium:hover,
.btn--large:hover {
    background-color: white;
    color: black;
    transition: all 0.3s ease-out;
    outline: none;
}

.btn--big:hover {
    background-color: darkseagreen;
    color: white;
    border: 1px solid darkseagreen;
    border-radius: 3px;
}