
.hero-container {
    background: url('../../public/images/GrowthLink.png') center center/cover no-repeat;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0,2);
    object-fit: fill;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
}

.hero-btns {
    justify-content: center;
    position: relative;
    margin-top: 300px;
    align-items: center;
    height: 25%;
    width: 100%;

}

.pagedescription p {
    margin-top: auto;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    position: relative; 
}
  
 