body {
    background-color: 	white;
}

.Container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputForm {
    background-color: white;
    padding: 30px;
    width: 450px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inputForm h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: black;
}

.inputForm input {
    width: calc(100% - 20px);
    height: 40px;
    margin-bottom: 15px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

.inputForm button {
    width: 100%;
    height: 40px;
    border: none;
    color: black;
    font-size: 1.2rem;
    background-color: #8fbc8f;
    border-radius: 5px;
    cursor: pointer;
}

.inputForm button:hover {
    background-color: #FDFABA;
    color: black;
}

.inputForm a {
    color: seagreen;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}

.inputForm a:hover {
    color: #2b6e4f;
}

.tabs {
    display: flex;
    justify-content: center; /* Center tabs horizontally */
    margin-bottom: 20px;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #8fbc8f;
    font-size: 1.1rem;
    margin: 0 10px; /* Space between tabs */
    transition: background-color 0.3s ease;
}

.tab.active {
    background-color: #2b6e4f;
    color: white;
    border: 1px solid #3C815D;
}

