.cards {
    /* padding: ; */
    background: white;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
}

.container {
    padding: 5%;
    gap: 5%
  }
  
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    width: 90%;
  }
  
  .posting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 240px;
    height: 260px;
    text-align: center;
  }
  
  .posting h3 {
    font-size: 22px;
    margin: 5px 0;
  }
  
  .posting p {
    font-size: 16px;
    margin: 10px 0;
    text-align: left;
  }

  .content {
    height: 80%;
  }

  .flex-container button {
    border: 1px;
    padding: 3%;
    cursor: pointer;
    background-color: DarkSeaGreen;
    margin: 5px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    border-radius: 2px;
  }

  .flex-container button:hover {
    background-color: #ADD899;
    color: white;
  }