
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 50px; 
  justify-content: space-around; 
  padding: 16px;
  max-width: 900px; 
  margin: 0 auto; 
}

.grid-item {
  background-color: #f1f1f1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
}

.grid-item:hover{
  background-color: darkseagreen;
  color: white;
}
.grid-item:hover .buttons Button {
  border-color: black;
}

.grid-item:hover .title {
  color: white;
}

.heading {
  padding-top: 5%;
  padding-bottom: 2%;
  font-family: 'Times New Roman', Times, serif;
}


.title {
  text-align: center;
  color: #648464;
  margin-bottom: 5%;
  font-size: large;
}

.buttons {
   margin-top: 5%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   text-align: center;
   gap: 20px;
}

