.features {
    margin-top: 3%;
    text-align: center;
    text-decoration: underline;
}

.ind-features {
    margin-top: 5%;
    display: flex;
}

.ind-features .addToCalendar,
.ind-features .dashboard {
    flex: 1;
}