.features {
    margin-top: 3%;
    text-align: left;
    margin-left: 5%;
}

.ind-features {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


.ind-features p {
    font-size: 16px;
    margin-top: 20px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}